.todoListContainer {

    width: 350px;
    margin: auto;

}

.heading {
    background: #e6e6e6;
    padding: 10px;
}

#title {
    text-align: center;
}
.completed {

    text-decoration: line-through;
    color: #999999;
    
}

.itemText {
    width: 100%;
    margin-left: 20px;

}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trashcan {
    background: #e6e6e6;
    border: none;
    color: #FF0000;
    outline: none;
}
.itemList {
    background: #e6e6e6;
    padding: 5px;
    margin-top: 5px;

}